James Allen <jamesallen0108@gmail.com>
Piotr Banaszkiewicz <piotr@banaszkiewicz.org>
Andy Boughton <abought@gmail.com> <pchemist@gmail.com>
Gabriel A. Devenyi <gdevenyi@gmail.com>
Rémi Emonet <remi.emonet@heeere.com>
Bennet Fauber <bennet@umich.edu>
Michael Hansen <hansen.mike@gmail.com>
Michael Jackson <michaelj@epcc.ed.ac.uk>
Abigail Cabunoc Mayes <abigail.cabunoc@gmail.com> <abigail.cabunoc@oicr.on.ca>
François Michonneau <francois.michonneau@gmail.com>
Bill Mills <mills.wj@gmail.com>
Jon Pipitone <jon.pipitone@utoronto.ca>
Timothée Poisot <tim@poisotlab.io>
Raniere Silva <ra092767@ime.unicamp.br> <raniere@ime.unicamp.br>
Greg Wilson <gvwilson@software-carpentry.org> <gvwilson@third-bit.com>
